@charset "UTF-8";
@font-face {
  font-family: 'LucidaGrande';
  src: local("LucidaGrande") ， url("..font//LucidaGrande.woff") format("woff"), url("../font/LucidaGrande.ttf") format("opentype"), url("../font/Helvetica.eot") format("embedded-opentype");
}

@font-face {
  font-family: 'BowlbyOneSC';
  src: url(../font/BowlbyOneSC-Regular.ttf);
}

@font-face {
  font-family: 'ToppanBunkyuMidashiGothicStdN';
  src: url(../font/ToppanBunkyuMidashiGothicStdN-ExtraBold.otf);
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'LucidaGrande', 'Noto Sans TC', "Helvetica Neue", Helvetica, Arial;
  background: #ffffff;
  font-size: 16px;
}

@media all and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

main {
  display: block;
}

::-moz-selection {
  background: #121111;
  color: #ffffff;
}

::selection {
  background: #121111;
  color: #ffffff;
}

::-moz-selection {
  background: #121111;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  letter-spacing: .5px;
  margin: 0;
}

h1 {
  font-size: 36px;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 32px;
}

@media all and (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 26px;
}

@media all and (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 22px;
}

@media all and (max-width: 768px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-size: 18px;
}

@media all and (max-width: 768px) {
  h5 {
    font-size: 16px;
  }
}

p {
  line-height: 1.7;
  letter-spacing: .5px;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

p.note {
  color: #8a8686;
  font-size: 14px;
}

p.secret {
  color: #8a8686;
  font-size: 12px;
  margin-top: 0.5rem;
}

a {
  color: #121111;
  text-decoration: none;
}

a.white_link {
  color: #ffffff;
}

a.white_link:hover {
  color: #ffffff;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  line-height: 1.5;
}

ol {
  margin: 0;
  padding: 0 20px;
}

ol li {
  line-height: 1.5;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
  display: block;
  width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

@font-face {
  font-family: 'LucidaGrande';
  src: local("LucidaGrande") ， url("..font//LucidaGrande.woff") format("woff"), url("../font/LucidaGrande.ttf") format("opentype"), url("../font/Helvetica.eot") format("embedded-opentype");
}

@font-face {
  font-family: 'BowlbyOneSC';
  src: url(../font/BowlbyOneSC-Regular.ttf);
}

@font-face {
  font-family: 'ToppanBunkyuMidashiGothicStdN';
  src: url(../font/ToppanBunkyuMidashiGothicStdN-ExtraBold.otf);
}

@-webkit-keyframes slide-home-off {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

@keyframes slide-home-off {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

@-webkit-keyframes slide-home {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes slide-home {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@-webkit-keyframes slide-flooer {
  from {
    height: 0;
  }
  to {
    height: 13.5%;
  }
}

@keyframes slide-flooer {
  from {
    height: 0;
  }
  to {
    height: 13.5%;
  }
}

@media all and (max-width: 991px) {
  @-webkit-keyframes slide-flooer {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }
  @keyframes slide-flooer {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }
}

@-webkit-keyframes transport {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transport {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home {
  background: url(../img/home-bg.png) center no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  -webkit-animation: transport 0.5s both ease-in-out;
          animation: transport 0.5s both ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.home-words {
  background: url(../img/consecrate-words.png) top center no-repeat;
  height: 100vh;
  max-height: 100vh;
  background-size: 80%;
  z-index: 0;
}

@media all and (max-width: 991px) {
  .home-words {
    background: url(../img/consecrate-words-m.png) top right no-repeat;
    background-size: 58%;
  }
}

.home-ch-bg {
  max-width: 1200px;
  min-width: 650px;
  width: 53%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 50%;
  right: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: -1;
}

.home-ch-bg .ch-bg-item {
  width: 100%;
  max-width: 115px;
  height: 0%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: slide-home 0.4s both ease-in-out;
          animation: slide-home 0.4s both ease-in-out;
}

.home-ch-bg .ch-bg-item:nth-child(1), .home-ch-bg .ch-bg-item:nth-child(5) {
  background-image: url(../img/home-ch-bg3.png);
}

.home-ch-bg .ch-bg-item:nth-child(2), .home-ch-bg .ch-bg-item:nth-child(4) {
  background-image: url(../img/home-ch-bg2.png);
}

.home-ch-bg .ch-bg-item:nth-child(3) {
  background-image: url(../img/home-ch-bg.png);
}

.home-ch-bg .ch-bg-item.off-screen {
  -webkit-animation: slide-home-off 0.3s both ease-in-out;
          animation: slide-home-off 0.3s both ease-in-out;
}

.home-ch-bg .ch-bg-item.off-screen:nth-child(1), .home-ch-bg .ch-bg-item.off-screen:nth-child(5) {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.home-ch-bg .ch-bg-item.off-screen:nth-child(2), .home-ch-bg .ch-bg-item.off-screen:nth-child(4) {
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s;
}

.home-ch-bg .ch-bg-item.off-screen:nth-child(3) {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

@media all and (max-width: 991px) {
  .home-ch-bg {
    max-width: 45%;
    min-width: 45%;
    width: 45%;
    left: 0%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    display: block;
  }
  .home-ch-bg.iceborg .ch-bg-item {
    background: #2589C8;
  }
}

.character {
  max-width: 1200px;
  min-width: 650px;
  width: 53%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.character .ch-item {
  width: 100%;
  height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  cursor: pointer;
}

.character .ch-item .ch-item-img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.character .ch-item .ch-item-img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.character .ch-item .ch-hover {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  -webkit-perspective: 141px;
          perspective: 141px;
}

.character .ch-item .ch-hover-floor {
  height: 0;
  overflow: hidden;
  -webkit-perspective: 141px;
          perspective: 141px;
}

.character .ch-item:hover .ch-hover {
  height: 86.5%;
  overflow: visible;
}

.character .ch-item:hover .ch-hover .wall {
  background-repeat: no-repeat;
  height: 100%;
  width: 115px;
  background-size: 100%;
  margin: 0 auto;
}

.character .ch-item:hover .ch-hover-floor {
  -webkit-animation: slide-flooer .3s both ease-in-out;
          animation: slide-flooer .3s both ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  overflow: visible;
}

.character .ch-item:hover .ch-hover-floor .floor {
  position: absolute;
  z-index: -1;
  left: 50%;
  width: 115px;
  height: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media all and (max-width: 991px) {
  .character {
    max-width: 58%;
    min-width: 58%;
    width: 58%;
  }
  .character .ch-item {
    display: none;
  }
  .character .ch-item.active {
    display: block;
  }
  .character .ch-item.active .ch-item-img {
    left: 15%;
  }
  .character .ch-item.active .ch-hover-floor {
    height: 100%;
    overflow: visible;
    -webkit-animation: slide-flooer .3s both ease-in-out;
            animation: slide-flooer .3s both ease-in-out;
  }
  .character .ch-item.active .ch-hover-floor .floor {
    -webkit-transform: rotateX(506deg) skewX(45deg) translateX(-50%);
            transform: rotateX(506deg) skewX(45deg) translateX(-50%);
    position: absolute;
    z-index: -1;
    left: 0%;
    width: 640px;
    height: 100%;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  .character .ch-item.active.character-iceborg .floor {
    background-color: #2589C8;
  }
}

.character .character-iceborg {
  z-index: 0;
}

.character .character-iceborg .ch-item-img {
  width: 130px;
  bottom: 80px;
}

.character .character-iceborg:hover .ch-item-img::before {
  background-image: url(../img/iceborg_color.png);
}

.character .character-iceborg:hover .ch-hover .wall {
  background-image: url(../img/iceborg_hover.png);
}

.character .character-iceborg:hover .floor {
  background-color: #2589C8;
  -webkit-transform: rotateX(399deg) skewX(-34deg) translateX(-50%);
          transform: rotateX(399deg) skewX(-34deg) translateX(-50%);
}

.character .character-blackbug {
  z-index: 1;
}

.character .character-blackbug .ch-item-img {
  width: 150px;
  bottom: 70px;
}

.character .character-blackbug:hover .ch-item-img::before {
  background-image: url(../img/BB_color.png);
}

.character .character-blackbug:hover .ch-hover .wall {
  background-image: url(../img/BB_hover.png);
}

.character .character-blackbug:hover .floor {
  background-color: #FBCD13;
  -webkit-transform: rotateX(399deg) skewX(-20deg) translateX(-50%);
          transform: rotateX(399deg) skewX(-20deg) translateX(-50%);
}

.character .character-sweet {
  z-index: 2;
}

.character .character-sweet .ch-item-img {
  width: 310px;
  bottom: 30px;
}

.character .character-sweet:hover .ch-item-img::before {
  background-image: url(../img/sweet_color.png);
}

.character .character-sweet:hover .ch-hover .wall {
  background-image: url(../img/sweet_hover.png);
}

.character .character-sweet:hover .floor {
  background-color: #B62020;
  -webkit-transform: rotateX(401deg) skewX(5deg) translateX(-50%);
          transform: rotateX(401deg) skewX(5deg) translateX(-50%);
}

.character .character-twilight {
  z-index: 1;
}

.character .character-twilight .ch-item-img {
  width: 95px;
  bottom: 60px;
}

.character .character-twilight:hover .ch-item-img::before {
  background-image: url(../img/twilight_color.png);
}

.character .character-twilight:hover .ch-hover .wall {
  background-image: url(../img/twilight_hover.png);
}

.character .character-twilight:hover .floor {
  background-color: #63986B;
  -webkit-transform: rotateX(399deg) skewX(20deg) translateX(-50%);
          transform: rotateX(399deg) skewX(20deg) translateX(-50%);
}

.character .character-firecat {
  z-index: 0;
}

.character .character-firecat .ch-item-img {
  width: 190px;
  bottom: 55px;
}

.character .character-firecat:hover .ch-item-img::before {
  background-image: url(../img/firecat_color.png);
}

.character .character-firecat:hover .ch-hover .wall {
  background-image: url(../img/firecat_hover.png);
}

.character .character-firecat:hover .floor {
  background-color: #FB8B3F;
  -webkit-transform: rotateX(399deg) skewX(34deg) translateX(-50%);
          transform: rotateX(399deg) skewX(34deg) translateX(-50%);
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/page-bg.png) bottom left no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  -webkit-animation: transport 0.5s both ease-in-out;
          animation: transport 0.5s both ease-in-out;
}

.line {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.line-b {
  width: 1px;
  height: 100vh;
  background-color: #121111;
  position: absolute;
  top: 0;
}

.line-b.line-l {
  left: 5%;
}

.line-b.line-r {
  right: 5%;
}

.home-btn {
  background: url(../img/home-btn.png) center no-repeat;
  background-size: 100%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 4%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

@media all and (max-width: 991px) {
  .page-content {
    display: block;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}

.character-single {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  max-width: 45%;
}

@media all and (max-width: 991px) {
  .character-single {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

.character-stand {
  position: absolute;
  background-repeat: no-repeat;
  height: 100%;
  z-index: -1;
}

@media all and (max-width: 991px) {
  .character-stand {
    position: relative;
    height: 210px;
  }
}

.character-bg {
  position: absolute;
  top: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right bottom 30%;
  width: 700px;
  height: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  z-index: -1;
}

.data {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  max-width: 40%;
  position: relative;
  z-index: 2;
  margin: auto;
}

@media all and (max-width: 991px) {
  .data {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 77%;
            flex: 1 0 77%;
    max-width: 77%;
  }
}

.name {
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.name .name-img {
  max-width: 360px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

@media all and (max-width: 991px) {
  .name .name-img {
    max-width: 270px;
    margin: auto;
  }
}

.name-story {
  margin: auto 0 0;
  max-width: 160px;
  cursor: pointer;
}

@media all and (max-width: 991px) {
  .name-story {
    margin: 0 auto;
  }
}

.words {
  font-size: 22px;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

@media all and (max-width: 991px) {
  .words {
    display: none;
  }
}

.story {
  width: 100%;
  margin: 2.5rem 0;
}

@media all and (max-width: 991px) {
  .story {
    margin: 1.5rem 0;
  }
}

.story p {
  margin: 1rem 0;
}

.code {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 70px;
  position: absolute;
  top: 5%;
  right: 10%;
}

.sign {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 230px;
  height: 150px;
  position: absolute;
  top: 10%;
  right: -2%;
}

@media all and (max-width: 991px) {
  .sign {
    width: 180px;
    right: 5%;
  }
}

.arrow-b {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  z-index: 97;
}

@media all and (max-width: 991px) {
  .arrow-b {
    top: 93%;
  }
}

.arrow-b .ar {
  margin: auto 0;
}

.arrow-b.pre {
  left: 7%;
}

.arrow-b.next {
  right: 7%;
}

.arrow-b .m-chs {
  max-width: 60px;
}

.arrow-b:hover .m-chs {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.story-page {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  color: #ffffff;
  max-height: 100vh;
  overflow-y: scroll;
  opacity: 0;
  display: none;
}

.story-page.active {
  display: block;
  opacity: 1;
}

.story-page .overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(18, 17, 17, 0.96);
}

.story-page .story-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  padding: 2rem 0;
  z-index: 98;
  max-width: 600px;
  margin: 0 auto;
}

@media all and (max-width: 991px) {
  .story-page .story-title {
    margin: 0 -1rem;
    padding: 1rem;
    display: block;
    background-color: #000;
    position: fixed;
  }
}

.story-page .story-title h4 {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.story-page .story-title .font-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.story-page .story-title .font-size .size-btn {
  background: url(../img/w-circle.png) center no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin: auto 0.5rem;
  color: #121111;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.story-page .story-content {
  position: relative;
  z-index: 100;
  margin: 0 auto;
  padding: 3% 0;
  padding: 0 1rem;
  z-index: 3;
}

.story-page .stock {
  position: absolute;
  width: 100%;
  height: 100%;
}

.story-page .stock::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #121111;
  opacity: 0;
}

.story-page .story-text {
  max-width: 600px;
  margin: 0 auto;
}

.story-page .story-text.font-s {
  font-size: 16px;
}

.story-page .story-text.font-m {
  font-size: 18px;
}

.story-page .story-text.font-l {
  font-size: 20px;
}

.story-page .story-text p {
  white-space: pre-line;
}

@media all and (max-width: 991px) {
  .story-page .story-text {
    padding-top: 6.5rem;
  }
}

.story-page .close {
  background: url(../img/close.svg) center no-repeat;
  background-size: cover;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 99;
}

.firecat .character-stand {
  top: 0;
  right: -16%;
  background-image: url(../img/firecat_color.png);
  background-size: 34%;
  background-position: right 180px bottom 50%;
  width: 900px;
}

.firecat .character-bg {
  background-image: url(../img/firecat-bg.png);
}

.firecat .code {
  background-image: url(../img/firecat-code.png);
}

.firecat .sign {
  background-image: url(../img/firecat-sign.svg);
}

@media all and (max-width: 991px) {
  .firecat .character-stand {
    background-image: url(../img/firecat-square.png);
    right: 0%;
    background-position: center left 25%;
    width: 100%;
    background-size: 45%;
  }
  .firecat .character-bg {
    background-image: none;
  }
}

.iceborg .character-stand {
  top: 0;
  right: -10%;
  background-image: url(../img/iceborg_color.png);
  background-size: 34%;
  background-position: right 180px bottom 50%;
  width: 700px;
}

.iceborg .character-bg {
  background-image: url(../img/iceborg-bg.png);
}

.iceborg .code {
  background-image: url(../img/iceborg-code.png);
}

.iceborg .sign {
  background-image: url(../img/firecat-sign.svg);
}

@media all and (max-width: 991px) {
  .iceborg .character-stand {
    background-image: url(../img/iceborg-square.png);
    right: 0%;
    background-position: center left 25%;
    width: 100%;
    background-size: 45%;
  }
  .iceborg .character-bg {
    background-image: none;
  }
}

.blackbug .character-stand {
  top: 0;
  right: -12%;
  background-image: url(../img/BB_color.png);
  background-size: 34%;
  background-position: right 180px bottom 50%;
  width: 800px;
}

.blackbug .character-bg {
  background-image: url(../img/BB-bg.png);
}

.blackbug .code {
  background-image: url(../img/BB-code.png);
}

.blackbug .sign {
  background-image: url(../img/BB-sign.svg);
}

@media all and (max-width: 991px) {
  .blackbug .character-stand {
    background-image: url(../img/BB-square.png);
    right: 0%;
    background-position: center left 25%;
    width: 100%;
    background-size: 45%;
  }
  .blackbug .character-bg {
    background-image: none;
  }
}

.twilight .character-stand {
  top: 0;
  right: -10%;
  background-image: url(../img/twilight_color.png);
  background-size: 34%;
  background-position: right 180px bottom 50%;
  width: 440px;
}

.twilight .character-bg {
  background-image: url(../img/twilight-bg.png);
}

.twilight .code {
  background-image: url(../img/twilight-code.png);
}

.twilight .sign {
  background-image: url(../img/twilight-sign.svg);
}

@media all and (max-width: 991px) {
  .twilight .character-stand {
    background-image: url(../img/twilight-square.png);
    right: 0%;
    background-position: center left 25%;
    width: 100%;
    background-size: 45%;
  }
  .twilight .character-bg {
    background-image: none;
  }
}

.sweet .character-stand {
  top: 0;
  right: -50%;
  background-image: url(../img/sweet_color.png);
  background-size: 34%;
  background-position: right 180px bottom 50%;
  width: 1350px;
}

.sweet .character-bg {
  background-image: url(../img/sweet-bg.png);
}

.sweet .code {
  background-image: url(../img/sweet-code.png);
}

.sweet .sign {
  background-image: url(../img/sweet-sign.svg);
}

@media all and (max-width: 991px) {
  .sweet .character-stand {
    background-image: url(../img/sweet-square.png);
    right: 0%;
    background-position: center left 25%;
    width: 100%;
    background-size: 45%;
  }
  .sweet .character-bg {
    background-image: none;
  }
}
/*# sourceMappingURL=style.css.map */