@charset "UTF-8";
@font-face {
  font-family: 'LucidaGrande';
  src: local("LucidaGrande") ， url("..font//LucidaGrande.woff") format("woff"), url("../font/LucidaGrande.ttf") format("opentype"), url("../font/Helvetica.eot") format("embedded-opentype");
}

@font-face {
  font-family: 'BowlbyOneSC';
  src: url(../font/BowlbyOneSC-Regular.ttf);
}

@font-face {
  font-family: 'ToppanBunkyuMidashiGothicStdN';
  src: url(../font/ToppanBunkyuMidashiGothicStdN-ExtraBold.otf);
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'LucidaGrande', 'Noto Sans TC', "Helvetica Neue", Helvetica, Arial;
  background: #ffffff;
  font-size: 16px;
}

@media all and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

main {
  display: block;
}

::-moz-selection {
  background: #121111;
  color: #ffffff;
}

::selection {
  background: #121111;
  color: #ffffff;
}

::-moz-selection {
  background: #121111;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  letter-spacing: .5px;
  margin: 0;
}

h1 {
  font-size: 36px;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 32px;
}

@media all and (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 26px;
}

@media all and (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 22px;
}

@media all and (max-width: 768px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-size: 18px;
}

@media all and (max-width: 768px) {
  h5 {
    font-size: 16px;
  }
}

p {
  line-height: 1.7;
  letter-spacing: .5px;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

p.note {
  color: #8a8686;
  font-size: 14px;
}

p.secret {
  color: #8a8686;
  font-size: 12px;
  margin-top: 0.5rem;
}

a {
  color: #121111;
  text-decoration: none;
}

a.white_link {
  color: #ffffff;
}

a.white_link:hover {
  color: #ffffff;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  line-height: 1.5;
}

ol {
  margin: 0;
  padding: 0 20px;
}

ol li {
  line-height: 1.5;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
  display: block;
  width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

@font-face {
  font-family: 'LucidaGrande';
  src: local("LucidaGrande") ， url("..font//LucidaGrande.woff") format("woff"), url("../font/LucidaGrande.ttf") format("opentype"), url("../font/Helvetica.eot") format("embedded-opentype");
}

@font-face {
  font-family: 'BowlbyOneSC';
  src: url(../font/BowlbyOneSC-Regular.ttf);
}

@font-face {
  font-family: 'ToppanBunkyuMidashiGothicStdN';
  src: url(../font/ToppanBunkyuMidashiGothicStdN-ExtraBold.otf);
}

@-webkit-keyframes slide {
  from {
    height: 0;
  }
  to {
    height: 90%;
  }
}

@keyframes slide {
  from {
    height: 0;
  }
  to {
    height: 90%;
  }
}

@-webkit-keyframes transport {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transport {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (min-width: 991px) {
  .home {
    background: url(../img/home-bg.png) center no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    -webkit-animation: transport 0.5s both ease-in-out;
            animation: transport 0.5s both ease-in-out;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .home-words {
    background: url(../img/consecrate-words.png) top center no-repeat;
    height: 100vh;
    max-height: 100vh;
    background-size: 60%;
    z-index: 0;
  }
  .character {
    max-width: 1200px;
    min-width: 650px;
    width: 50%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .character .ch-item {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    cursor: pointer;
  }
  .character .ch-item .ch-item-img {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2;
  }
  .character .ch-item .ch-item-img::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .character .ch-item .ch-hover {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.5s ease-out;
    transition: height 0.5s ease-out;
  }
  .character .ch-item:hover .ch-hover {
    height: 100%;
  }
  .character .ch-item:hover .ch-hover .wall {
    background-repeat: no-repeat;
    height: 100%;
    width: 115px;
    background-size: 100%;
  }
  .character .ch-item:hover .ch-hover .floor {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 115px;
    height: 10%;
    border-style: none solid solid;
  }
  .character .character-iceborg .ch-item-img {
    width: 130px;
    bottom: 80px;
  }
  .character .character-blackbug .ch-item-img {
    width: 150px;
    bottom: 70px;
  }
  .character .character-sweet {
    z-index: 2;
  }
  .character .character-sweet .ch-item-img {
    width: 300px;
    bottom: 30px;
  }
  .character .character-sweet:hover .ch-item-img::before {
    background-image: url(../img/sweet_color.png);
  }
  .character .character-sweet:hover::before {
    content: "";
    border-width: 0px 109px 79px 0px;
    border-color: transparent transparent #B62020;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  .character .character-sweet:hover::after {
    background-image: url(../img/sweet_hover.png);
  }
  .character .character-twilight .ch-item-img {
    width: 95px;
    bottom: 60px;
  }
  .character .character-twilight:hover .ch-item-img::before {
    background-image: url(../img/twilight_color.png);
  }
  .character .character-twilight:hover::before {
    content: "";
    border-width: 0px 109px 79px 0px;
    border-color: transparent transparent #63986B;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  .character .character-twilight:hover::after {
    background-image: url(../img/twilight_hover.png);
    -webkit-animation: slide 0.2s both ease-in-out;
            animation: slide 0.2s both ease-in-out;
  }
  .character .character-firecat .ch-item-img {
    width: 190px;
    bottom: 55px;
  }
  .character .character-firecat:hover .ch-item-img::before {
    background-image: url(../img/firecat_color.png);
  }
  .character .character-firecat:hover .ch-hover .wall-firecat {
    background-image: url(../img/firecat_hover.png);
  }
  .character .character-firecat:hover .ch-hover .floor-firecat {
    border-width: 0px 185px 109px 19px;
    border-color: transparent transparent #FB8B3F;
    -webkit-transform: skew(50deg);
            transform: skew(50deg);
  }
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(../img/page-bg.png) center no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    -webkit-animation: transport 0.5s both ease-in-out;
            animation: transport 0.5s both ease-in-out;
  }
  .line {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .line-b {
    width: 1px;
    height: 100%;
    background-color: #121111;
    position: absolute;
    top: 0;
  }
  .line-b.line-l {
    left: 5%;
    position: relative;
  }
  .line-b.line-r {
    right: 5%;
  }
  .home-btn {
    background: url(../img/home-btn.png) center no-repeat;
    background-size: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 4%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-width: 950px;
    margin: 0 auto;
    position: relative;
  }
  .character-single {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 45%;
            flex: 1 0 45%;
    max-width: 45%;
  }
  .character-stand {
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    z-index: -1;
  }
  .character-bg {
    position: absolute;
    top: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right bottom 30%;
    width: 700px;
    height: 100%;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    z-index: -1;
  }
  .data {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 55%;
            flex: 1 0 55%;
    max-width: 55%;
    position: relative;
    z-index: 2;
    margin: auto;
  }
  .name {
    margin-left: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .name .name-img {
    max-width: 360px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .name .name-story {
    margin: auto 0 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    max-width: 80px;
    cursor: pointer;
  }
  .words {
    font-size: 22px;
    margin-left: 2rem;
    margin-top: 1.5rem;
  }
  .personal-value {
    width: 75%;
  }
  .personal-value ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .personal-value ul li {
    margin-bottom: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
    max-width: 20%;
    padding: 0 4px;
  }
  .personal-value ul li .value-title {
    margin: auto 0;
    text-align: center;
    font-size: 14px;
  }
  .personal-value ul li .value-bar {
    position: relative;
    width: 100%;
    min-height: 160px;
    margin: auto 0;
  }
  .personal-value ul li .value-bar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #121111;
    background-position: top 0.5rem center;
    background-size: 35%;
    background-repeat: no-repeat;
  }
  .personal-value ul li .value-bar.first::after {
    height: 160px;
    background-image: url(../img/1.svg);
  }
  .personal-value ul li .value-bar.sec::after {
    height: 128px;
    background-image: url(../img/2.svg);
  }
  .personal-value ul li .value-bar.thrd::after {
    height: 96px;
    background-image: url(../img/3.svg);
  }
  .personal-value ul li .value-bar.fourth::after {
    height: 64px;
    background-image: url(../img/4.svg);
  }
  .personal-value ul li .value-bar.fifth::after {
    height: 32px;
    background-image: url(../img/5.svg);
  }
  .story {
    width: 85%;
    margin: 2.5rem 0;
  }
  .story p {
    margin: 1rem 0;
    height: 7rem;
    max-height: 7rem;
    overflow: hidden;
  }
  .code {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 70px;
    position: absolute;
    top: 5%;
    right: 10%;
  }
  .sign {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 230px;
    height: 150px;
    position: absolute;
    top: 10%;
    right: -2%;
  }
  .arrow-b {
    width: 30px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
  }
  .arrow-b.pre {
    left: 7%;
  }
  .arrow-b.next {
    right: 7%;
  }
  .story-page {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    color: #ffffff;
    max-height: 100vh;
    overflow-y: scroll;
  }
  .story-page .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(18, 17, 17, 0.95);
  }
  .story-page .story-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
  }
  .story-page .story-title h4 {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .story-page .story-title .font-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .story-page .story-title .font-size .size-btn {
    background: url(../img/w-circle.png) center no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
    color: #121111;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
  }
  .story-page .story-content {
    position: relative;
    z-index: 100;
    max-width: 600px;
    margin: 0 auto;
    padding: 3% 0;
  }
  .story-page .stock {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .story-page .stock::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #121111;
    opacity: 0;
  }
  .story-page .story-text.font-s {
    font-size: 16px;
  }
  .story-page .story-text.font-m {
    font-size: 18px;
  }
  .story-page .story-text.font-l {
    font-size: 20px;
  }
  .story-page .story-text p {
    white-space: pre-line;
  }
  .story-page .close {
    background: url(../img/close.svg) center no-repeat;
    background-size: cover;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .firecat .character-stand {
    top: 0;
    right: -16%;
    background-image: url(../img/firecat_color.png);
    background-size: 34%;
    background-position: right 180px bottom 50%;
    width: 900px;
  }
  .firecat .character-bg {
    background-image: url(../img/firecat-bg.png);
  }
  .firecat .code {
    background-image: url(../img/firecat-code.png);
  }
  .firecat .sign {
    background-image: url(../img/firecat-sign.svg);
  }
  .iceborg .character-stand {
    top: 0;
    right: -10%;
    background-image: url(../img/iceborg_color.png);
    background-size: 34%;
    background-position: right 180px bottom 50%;
    width: 700px;
  }
  .iceborg .character-bg {
    background-image: url(../img/iceborg-bg.png);
  }
  .iceborg .code {
    background-image: url(../img/iceborg-code.png);
  }
  .iceborg .sign {
    background-image: url(../img/firecat-sign.svg);
  }
  .blackbug .character-stand {
    top: 0;
    right: -12%;
    background-image: url(../img/BB_color.png);
    background-size: 34%;
    background-position: right 180px bottom 50%;
    width: 800px;
  }
  .blackbug .character-bg {
    background-image: url(../img/BB-bg.png);
  }
  .blackbug .code {
    background-image: url(../img/BB-code.png);
  }
  .blackbug .sign {
    background-image: url(../img/BB-sign.svg);
  }
  .twilight .character-stand {
    top: 0;
    right: -10%;
    background-image: url(../img/twilight_color.png);
    background-size: 34%;
    background-position: right 180px bottom 50%;
    width: 440px;
  }
  .twilight .character-bg {
    background-image: url(../img/twilight-bg.png);
  }
  .twilight .code {
    background-image: url(../img/twilight-code.png);
  }
  .twilight .sign {
    background-image: url(../img/twilight-sign.svg);
  }
  .sweet .character-stand {
    top: 0;
    right: -50%;
    background-image: url(../img/sweet_color.png);
    background-size: 34%;
    background-position: right 180px bottom 50%;
    width: 1350px;
  }
  .sweet .character-bg {
    background-image: url(../img/sweet-bg.png);
  }
  .sweet .code {
    background-image: url(../img/sweet-code.png);
  }
  .sweet .sign {
    background-image: url(../img/sweet-sign.svg);
  }
}
/*# sourceMappingURL=style.css.map */