@keyframes slide-home {
    from {
        height: 0;
    }

    to {
        height: 86.5%;
    }
}

@keyframes slide-flooer {
    from {
        height: 0;
    }

    to {
        height: 13.5%;
    }
}

@keyframes transport {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
