@keyframes slide-home-off {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}

@keyframes slide-home {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}


@keyframes slide-flooer {
    from {
        height: 0;
    }

    to {
        height: 13.5%;
    }
}

@keyframes transport {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
