@import '_normalize';
@import '_variables';
@import '_animation';

@media all and (min-width: $mobile-media) {

    .home {
        background: url(../img/home-bg.png) center no-repeat;
        background-size: cover;
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
        position: relative;
        animation: transport 0.5s both ease-in-out;
        animation-delay: 0.5s;
    }

    .home-words {
        background: url(../img/consecrate-words.png) top center no-repeat;
        height: 100vh;
        max-height: 100vh;
        background-size: 70%;
        z-index: 0;
    }

    .character {
        max-width: 1200px;
        min-width: 650px;
        width: 50%;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        margin: 0 auto;
        display: flex;

        .ch-item {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            cursor: pointer;

            .ch-item-img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;

                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-size: 100%;
                    top: 0;
                    left: 0;
                    z-index: 3;
                }
            }

            &:hover {

                &::after {
                    content: "";
                    position: relative;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    z-index: 1;
                }

            }
        }

        .character-iceborg {

            .ch-item-img {
                width: 135px;
                bottom: 45px;
            }

        }

        .character-blackbug {

            .ch-item-img {
                width: 155px;
                bottom: 30px;
            }
        }

        .character-sweet {
            z-index: 2;

            .ch-item-img {
                width: 300px;
                bottom: 30px;
            }

        }

        .character-twilight {

            .ch-item-img {
                width: 95px;
                bottom: 40px;
            }
        }

        .character-firecat {

            .ch-item-img {
                width: 190px;
                bottom: 30px;
            }


            &:hover {

                .ch-item-img {

                    &::before {
                        background-image: url(../img/firecat_color.png);
                    }
                }

                &::after {
                    background-image: url(../img/firecat_hover.png);
                    width: 420px;
                    animation: slide 0.2s both ease-in-out;

                }


            }
        }
    }

    //page

    .page {
        background: url(../img/page-bg.png) bottom center no-repeat;
        background-size: 100%;
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
        position: relative;
        animation: transport 0.5s both ease-in-out;

    }

    .line {
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .line-b {
        width: 1px;
        height: 100%;
        background-color: $black;
        position: absolute;
        top: 0;


        &.line-l {
            left: 5%;
        }

        &.line-r {
            right: 5%;
        }
    }

    .character-stand {
        position: absolute;
        top: 0;
        right: 100px;
        background-image: url(../img/firecat_color.png);
        background-repeat: no-repeat;
        background-size: 34%;
        background-position: right 180px bottom 50%;
        width: 1000px;
        height: 100%;
        z-index: -1;
    }

    .character-bg {
        position: absolute;
        top: 0;
        right: 50px;
        background-image: url(../img/firecat-bg.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right bottom 30%;
        width: 800px;
        height: 100%;
        filter: grayscale(1);
        z-index: -1;
    }

    .data {
        max-width: 55%;
        position: relative;
        z-index: 2;
        margin: 5% auto;
    }

    .name {
        max-width: 250px;
        margin-left: -30px;
    }

    .personal-value {
        width: 50%;

        ul {
            display: flex;
            justify-content: space-between;

            li {
                margin-bottom: 1rem;
                flex: 1 0 20%;
                max-width: 20%;
                padding: 0 4px;

                .value-title {
                    margin: auto 0;
                    text-align: center;
                    font-size: 14px;
                }

                .value-bar {
                    position: relative;
                    width: 100%;
                    min-height: 160px;
                    margin: auto 0;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        background-color: $black;
                    }

                    &.first {

                        &::after {
                            height: 160px;
                        }

                    }

                    &.sec {
                        &::after {
                            height: 128px;
                        }
                    }

                    &.thrd {
                        &::after {
                            height: 96px;
                        }
                    }

                    &.fourth {
                        &::after {
                            height: 64px;
                        }
                    }

                    &.fifth {
                        &::after {
                            height: 32px;
                        }
                    }
                }
            }
        }
    }

    .story {
        width: 50%;
        margin: 3rem 0;

        p {
            margin: 1rem 0;
        }
    }

    .arrow-b {
        width: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &.pre {
            left: 6%;
        }

        &.next {
            right: 6%;

            img {
                transform: rotate(180deg);
            }
        }
    }

}