@import '_normalize';
@import '_variables';
@import '_animation';

@media all and (min-width: $mobile-media) {

    .home {
        background: url(../img/home-bg.png) center no-repeat;
        background-size: cover;
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
        position: relative;
        animation: transport 0.5s both ease-in-out;
        animation-delay: 0.5s;
    }

    .home-words {
        background: url(../img/consecrate-words.png) top center no-repeat;
        height: 100vh;
        max-height: 100vh;
        background-size: 70%;
        z-index: 0;
    }

    .character {
        max-width: 1200px;
        min-width: 650px;
        width: 50%;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        margin: 0 auto;
        display: flex;

        .ch-item {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            cursor: pointer;

            .ch-item-img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;

                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-size: 100%;
                    top: 0;
                    left: 0;
                    z-index: 3;
                }
            }

            &:hover {

                &::after {
                    content: "";
                    position: relative;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    z-index: 1;
                }

            }
        }

        .character-iceborg {

            .ch-item-img {
                width: 130px;
                bottom: 80px;
            }

        }

        .character-blackbug {

            .ch-item-img {
                width: 150px;
                bottom: 70px;
            }
        }

        .character-sweet {
            z-index: 2;

            .ch-item-img {
                width: 300px;
                bottom: 30px;
            }

        }

        .character-twilight {

            .ch-item-img {
                width: 95px;
                bottom: 60px;
            }
        }

        .character-firecat {

            .ch-item-img {
                width: 190px;
                bottom: 55px;
            }


            &:hover {

                .ch-item-img {

                    &::before {
                        background-image: url(../img/firecat_color.png);
                    }
                }

                &::after {
                    background-image: url(../img/firecat_hover.png);
                    width: 420px;
                    animation: slide 0.2s both ease-in-out;

                }


            }
        }
    }

    //page

    .page {
        display: flex;
        background: url(../img/page-bg.png) center no-repeat;
        background-size: cover;
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
        position: relative;
        animation: transport 0.5s both ease-in-out;

    }

    .line {
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .line-b {
        width: 1px;
        height: 100%;
        background-color: $black;
        position: absolute;
        top: 0;


        &.line-l {
            left: 5%;
            position: relative;
        }

        &.line-r {
            right: 5%;
        }
    }

    .home-btn{
        background: url(../img/home-btn.png) center no-repeat;
        background-size: 100%;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: 4%;
        transform: translateX(-50%);
    }

    .character-stand {
        position: absolute;
        top: 0;
        right: 100px;
        background-image: url(../img/firecat_color.png);
        background-repeat: no-repeat;
        background-size: 34%;
        background-position: right 180px bottom 50%;
        width: 1000px;
        height: 100%;
        z-index: -1;
    }

    .character-bg {
        position: absolute;
        top: 0;
        right: 50px;
        background-image: url(../img/firecat-bg.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right bottom 30%;
        width: 800px;
        height: 100%;
        filter: grayscale(1);
        z-index: -1;
    }

    .data {
        max-width: 55%;
        position: relative;
        z-index: 2;
        margin: auto;
    }

    .name {
        margin-left: -30px;
        display: flex;

        .name-img{
            max-width: 250px;
            flex: auto;
        }

        .name-story{
            max-width: 100px;
            margin-left: 3rem;
            cursor: pointer;
        }
    }

    .words{
        font-size: 22px;
        margin-left: 2rem;
        margin-top: 1.5rem;
    }

    .personal-value {
        width: 50%;

        ul {
            display: flex;
            justify-content: space-between;

            li {
                margin-bottom: 1rem;
                flex: 1 0 20%;
                max-width: 20%;
                padding: 0 4px;

                .value-title {
                    margin: auto 0;
                    text-align: center;
                    font-size: 14px;
                }

                .value-bar {
                    position: relative;
                    width: 100%;
                    min-height: 200px;
                    margin: auto 0;


                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        background-color: $black;
                        background-position: top 0.5rem center;
                        background-size: 35%;
                        background-repeat: no-repeat;
                    }

                    &.first {

                        &::after {
                            height: 200px;
                            background-image: url(../img/1.svg);
                        }

                    }

                    &.sec {
                        &::after {
                            height: 160px;
                            background-image: url(../img/2.svg);
                        }
                    }

                    &.thrd {
                        &::after {
                            height: 120px;
                            background-image: url(../img/3.svg);
                        }
                    }

                    &.fourth {
                        &::after {
                            height: 80px;
                            background-image: url(../img/4.svg);
                        }
                    }

                    &.fifth {
                        &::after {
                            height: 40px;
                            background-image: url(../img/5.svg);
                        }
                    }
                }
            }
        }
    }

    .story {
        width: 55%;
        margin: 3rem 0;

        p {
            margin: 1rem 0;
        }
    }

    .code{
        background: url(../img/firecat-code.png) center no-repeat;
        background-size: 100%;
        width: 30px;
        height: 58px;
        position: absolute;
        top: 5%;
        right: 10%;
    }

    .sign{
        background: url(../img/firecat-sign.svg) center no-repeat;
        background-size: 100%;
        width: 230px;
        height: 150px;
        position: absolute;
        top: 10%;
        right: 11%;
    }

    .arrow-b {
        width: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &.pre {
            left: 7%;
        }

        &.next {
            right: 7%;

            img {
                transform: rotate(180deg);
            }
        }
    }

    .story-page{
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
        color: $white;
        max-height: 100vh;
        overflow-y: scroll;

        .overlay{
            width: 100%;
            height: 100%;
            position: fixed;
            background-color: rgba($color: $black, $alpha: 0.95);
        }

        .story-title{
            display: flex;
            margin-bottom: 2rem;
            
            h4{
                flex: auto;
            }

            .font-size{
                display: flex;

                .size-btn{
                    background: url(../img/w-circle.png) center no-repeat;
                    background-size: 100%;
                    width: 30px;
                    height: 30px;
                    margin: 0 0.5rem;
                    color: $black;
                    font-weight: bold;
                    cursor: pointer;
                    text-align: center;
                }
            }
        }
        

        .story-content{
            position: relative;
            z-index: 100;
            max-width: 600px;
            margin: 0 auto;
            padding: 3% 0;
        }

        .stock{
            position: absolute;
            width: 100%;
            height: 100%;

            &::after{
                content: "";
                width: 100%;
                height: 100%;
                background-color: $black;
                opacity: 0;
            }
        }

        .story-text{

            &.font-s{
                font-size: 16px;
            }

            &.font-m{
                font-size: 18px;
            }

            &.font-l{
                font-size: 20px;
            }

            p{
                white-space: pre-line;
            }

        }

        .close{
            background: url(../img/close.svg) center no-repeat;
            background-size: cover;
            position: fixed;
            top: 2rem;
            right: 2rem;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }

}